@colorPrimary: rgb(0, 116, 170);
@colorSecondary: rgb(0, 145, 212);
@colorButton: rgb(13, 166, 236);

body {
    margin: 0;
    font-family: "Segoe UI",Arial,sans-serif;
    h1 {
        font-weight: 500;
    }
    header {
        > div#header {
            background-color: @colorPrimary;
            width: 100%;
            height: 75px;
            > h1 {
                color: white;
                padding: 20px;
            }
        }
        > ul#nav-main {
            padding:  0 0 0 40px;
            margin: 0;
            list-style: none;
            display: flex;
            background-color: @colorSecondary;
            > li {
                color : white;
                position: relative;

                &:after {
                    content : " ";
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    height: 4px;
                    background-color: white;
                    left: 0;
                    display: none;
                }
                
                &:hover {
                    &:after { 
                        display: block;                    
                    }
                }

                > a {
                    padding: 16px;
                    display: block;
                    cursor: pointer;
                    color : #FFF;
                    text-decoration: none;
                }
            }
        }
    }

    section {
    	> div {
    		height: 50px;
    		width: 30px;
    	}
    }
	
}